main {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  margin: 5rem auto 2rem;
  padding: 5rem;
  text-align: center;

  form {
    margin-bottom: 2rem;
  }
  .forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

    .day {
      background: white;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .error {
    color: red;
    font-weight: bold;
  }
}
